<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="github" href="https://github.com/andinus">
        <link rel="stylesheet" href="/resources/gd.css">

        <title>{% block title %}lyralink{% endblock %}</title>
        {% block head %}{% endblock %}
        <style>
            nav span {
                font-weight: bold;
            }
        </style>
    </head>
    <body>
        <header>
            {% block navigation %}
            <nav>
                <span>lyralink</span>
                <ul>
                    <li><a href="{{ base_url }}">shorten links!</a></li>
                </ul>
            </nav>
            {% endblock %}
        </header>
        <main>
            {% block body %}{% endblock %}
        </main>
    </body>
</html>
